<html>
    {{>head}}
    <body>
        <div style="background-color: #de1f31;height: 115px;width: 0 auto;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        {{{ body }}}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>